RewriteEngine On
RewriteBase /pinwheel/dist/

# If the file or folder doesn't exist inside dist/, load index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]
